{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title%}

{% block content %}
<div class="row m-5">
    <div class="col-md-5 offset-md-3 d-flex justify-content-center align-items-center flex-column gap-2 border rounded">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <i class="fa-regular fa-envelope fs-2 mt-2"></i>
        <p class="fs-3">{% blocktrans %}
            We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
</div>
    
{% endblock %}
