{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_filters %}

{% block title %}{% trans "Password Reset" %}{% endblock title%}

{% block content %}
<div class="row mt-5">
    <div class="col-md-3 offset-md-4">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="d-flex flex-column">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary"/>
        </form>

    </div>
</div>
    
{% endblock %}
