{% extends 'base.html' %}
{% block title %}
Delete post - StoryHub Community
{% endblock title %}
{% block content %}
<div class="row">
   <div class="col-md-8 offset-md-2">
      <h2>Delete post</h2>
      <p class="fs-4">{{ post.title }}</p>
      {% comment %} post delete form {% endcomment %}
      <form action="" method="post">
         {% csrf_token %}
         <button type="submit" class="btn btn-danger mt-3">Delete post</button>
         <p class="text-muted">This action is irreversible</p>
      </form>
   </div>
</div>
{% endblock content %}