{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% load markdown_extras %}
{% block title %}
Post Detail
{% endblock title %}
{% block content %}
<div class="row mt-5">
   {% comment %} post {% endcomment %}
   <div class="col-md-7 offset-md-1 border">
      <div class="row">
         <div class="col">
            {% comment %} cover image {% endcomment %}
            <div class="row">
               {% if post.cover_image %}
               <div class="col p-0">
                  <img src="{{ post.cover_image.url }}" alt="" height="300" width="750" />
               </div>
               {% endif %}
            </div>
            {% comment %} profile pic, username, date, icons  {% endcomment %}
            <div class="row">
               <div class="col d-flex align-items-center justify-content-between">
                  <div class="d-flex justify-content-center">
                     {% comment %} profile pic {% endcomment %}
                     <a href="{% url 'user_profile' post.user.username %}">
                     {% if post.user.userprofile.profile_pic %}
                     <img
                        src="{{ post.user.userprofile.profile_pic.url }}" 
                        alt="" 
                        height="30" 
                        width="30" 
                        class="rounded-circle mt-2 "
                        />
                     {% else %}
                     <img
                        src="{% static 'users/images/default_pic.jpg' %}" 
                        alt="" 
                        height="30" 
                        width="30" 
                        class="rounded-circle mt-2 "
                        />
                     {% endif %}
                     </a>
                     <div class="d-flex flex-column ms-2">
                        {% comment %} username {% endcomment %}
                        <a href="{% url 'user_profile' post.user.username %}" style="color: black;">
                           <span class="fs-5">{{ post.user.username }}</span>
                        </a>
                        {% comment %} date {% endcomment %}
                        <span class="text-muted">{{ post.updated_at|date:"M d Y" }}</span>
                     </div>
                  </div>
                  {% comment %} icons  {% endcomment %}
                  <div class="d-flex align-items-center">
                     <ul id="icons" class="d-flex gap-3 mb-1 fs-5" data-id="{{ post.id }}">
                        {% comment %} number of views {% endcomment %}
                        <li>
                           <i class="fa-regular fa-eye"></i> {{ view_count }}
                        </li>
                        {% comment %} share to twitter {% endcomment %}
                        <li>
                           {% post_to_twitter "Check this out: {{ post.title }}" object_or_url "<i class='fa-brands fa-twitter'></i>"%}
                        </li>
                        <li 
                           id="bookmark_id" 
                           class="reaction"
                           >
                        </li>
                        <li
                           id="like_id" 
                           class="reaction"
                           >
                        </li>
                     </ul>
                     {% comment %} login to react {% endcomment %}
                     {% if not user.is_authenticated %}
                     <div>
                        <a href="{% url 'account_login' %}?next={% url 'post_detail' post.user.username post.slug %}" class="btn btn-primary">Login to react</a>
                     </div>
                     {% endif %}
                  </div>
                  {% comment %} edit and delete post {% endcomment %}
                  {% if user == post.user %}
                  <div class="d-flex gap-3">
                     <a href="{% url 'post_update' post.user.username post.slug %}" style="color: black;">Edit</a>
                     <a href="{% url 'post_delete' post.user.username post.slug %}" style="color: red;">Delete</a>
                  </div>
                  {% endif %}
               </div>
            </div>
            {% comment %} post title  {% endcomment %}
            <div class="row">
               <div class="col">
                  <h1>{{ post.title}}</h1>
               </div>
            </div>
            {% comment %} post content {% endcomment %}
            <div class="row mt-2">
               <div class="col">
                  {% autoescape off %}
                  {{ post.content|markdown }}
                  {% endautoescape %}
               </div>
            </div>
         </div>
      </div>
   </div>
   {% comment %} profile snippet  {% endcomment %}
   <div class="col-md-3 ms-2">
      <div class="row">
         <div class="col">
            <div class="d-flex flex-column">
               {% comment %} get unlimited access {% endcomment %}
               <div class="mt-5 mb-3">
                  <a href="" class="btn btn-success fs-5 rounded-pill">Get unlimited access</a>
                  <p class="text-muted m-0 ms-2">Coming soon</p>
               </div>
               <a href="{% url 'user_profile' post.user.username %}">
               {% comment %} profile pic {% endcomment %}
               {% if post.user.userprofile.profile_pic %}
               <img
                  src="{{ post.user.userprofile.profile_pic.url }}" 
                  alt="" 
                  height="50" 
                  width="50" 
                  class="rounded-circle mt-2 "
                  />
               {% else %}
               <img
                  src="{% static 'users/images/default_pic.jpg' %}" 
                  alt="" 
                  height="50" 
                  width="50" 
                  class="rounded-circle mt-2 "
                  />
               {% endif %}
               </a>
               {% comment %} username {% endcomment %}
               <a href="{% url 'user_profile' post.user.username %}" style="color: black;">
               <span class="fs-5">{{ post.user.username }}</span>
               </a>
               <div>
                  {% comment %} follower count {% endcomment %}
                  <a href="{% url 'follows' post.user.username %}" class="text-muted" style="cursor: pointer;">{{ post.user.userprofile.followed_by.all.count }} follower{{ post.user.userprofile.followed_by.all.count|pluralize}}</a>
                  {% comment %} following count {% endcomment %}
                  <a href="{% url 'follows' post.user.username %}?tab=following" class="text-muted" style="cursor: pointer;">{{ post.user.userprofile.follows.all.count }} following</a>
               </div>
               {% comment %} follow and unfollow button {% endcomment %}
               {% if not profile == user.userprofile %}
               <form action="" method="post" class="mt-3">
                  {% csrf_token %}
                  <div>
                     {% comment %} if profile is amongst profiles that the current logged in user follows show UNFOLLOW button {% endcomment %}
                     {% if profile in user.userprofile.follows.all %}
                     <button type="submit" class="btn btn-danger rounded-pill px-4" name="follow" value="unfollow">
                     Unfollow
                     </button>
                     {% comment %} if profile is NOT amongst profiles that the current logged in user follows show FOLLOW button {% endcomment %}
                     {% else %}
                     <button type="submit" class="btn btn-success rounded-pill px-4" name="follow" value="follow">
                     Follow
                     </button>
                     {% if not user.is_authenticated %}
                     <p class="text-muted">Login to follow</p>
                     {% endif %}
                     {% endif %}
                  </div>
               </form>
               {% endif %}
               <hr>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="module" src="{% static 'posts/js/reaction.js' %}"></script>
{% endblock content %}
